@model IEnumerable<AuctionHouse.Models.Auction>
@{ViewBag.Title = "Home Page";}

@section scripts
{
	@Scripts.Render("~/assets/js/pagination.js", "~/assets/js/auctions.js")
}

@section addition
{
	<script type="text/javascript">
		articles =
		[
			@foreach (var auction in Model)
			{
				@:new AuctionApprovalViewModel("@auction.ID.ToString()", "@auction.Title", @auction.AuctionTime, @auction.StartingPrice, "@auction.CreatedOn.ToString("dd.MM.yyyy. HH:mm:ss")", "@auction.User.FirstName @auction.User.LastName"),
			}
		];

		per_page = @ViewBag.RecentAuctions;
	</script>
}

<section id="pagination" class="border-boxed expanded solid-border border-xs border-gray edged margin-top-lg margin-bottom-lg">
	<div class="row solid-border-bottom border-bottom-xs border-bottom-gray edged no-margin-left no-margin-right text-center">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 solid-border-right border-right-xs border-right-gray edged padding-top-xs">

		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 solid-border-left border-left-xs border-left-gray edged padding-top-xs">
			<ul id="pagination-list" class="pagination no-margin"></ul>
		</div>
	</div>
	<div id="article-list" class="border-boxed expanded padding-sm text-center"></div>
</section>